$small-screen-width: 800px;

body {
    background: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;

    @media (orientation: portrait) and (max-width: 500px) {
        font-size: 150%;
    }

    @media (orientation: portrait) and (max-width: 1000px) {
        font-size: 150%;
    }
}

div#memorial-container, div#reading-display, div#display {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;

    div.overlay {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 100;
        img {
            position:absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            border-radius: 20px;
        }
    }

    #memorial {
        opacity: 0;
        margin: auto;
        vertical-align: middle;
        display: block;

        @media (orientation: landscape) {
            width: 50%;
        }
        @media (orientation: portrait) {
            width: 100%;
        }

        div {
            font-size: 300%;
        }

        #name {
            font-size: 167%;
        }

        #years {
            font-size: 100%;
        }

        #event {
            font-size: 33%;
        }

        #facts {
            font-size: 50%;
        }
    }
}

.bottom {
    position: fixed;
    bottom: 0px;
}

.right {
    right: 0px;
}

.center {
    left: 50%;
    transform: translateX(-50%);
}

a.button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a.button:hover {
    background-color: #ddd;
    color: black;
}

.button {
    background-color: black;
    color: white;
    cursor: pointer;
}

.round.button {
    border-radius: 50%;
}
